* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
}
header {
    background-color: rgb(240, 237, 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; 
}
.logo img {
    height: 120px;
    width: auto;
    max-width: 100%; 
}
nav {
    flex-grow: 1; 
    display: flex;
    justify-content: flex-end;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: block;
}
nav ul li a.activo {
    color: #007bff;
}
.banner {
    background: url('img/banner-fondo.jpg') center/cover no-repeat;
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: px;
}
.banner-cuadro {
    background: rgba(63, 163, 230, 0.6);
    padding: 10px 70px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.producto {
    background-color: white;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px); 
    max-width: 250px;
}
.producto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.producto h3 {
    color: #007bff;
    margin: 10px 0;
}
.producto button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.producto button:hover {
    background-color: #0056b3;
}